/*! CSS Used from: Embedded */
.css-vurnku{box-sizing:border-box;margin:0;min-width:0;}
.css-vurnku{box-sizing:border-box;margin:0;min-width:0;}
.css-vurnku{box-sizing:border-box;margin:0;min-width:0;}
.css-vurnku{box-sizing:border-box;margin:0px;min-width:0px;}
.css-vurnku{box-sizing:border-box;margin:0px;min-width:0px;}
/*! CSS Used from: Embedded */
.rc-table{font-size:12px;color:rgb(102, 102, 102);transition:opacity 0.3s ease 0s;position:relative;line-height:1.5;overflow:hidden;}
.rc-table .rc-table-content{position:relative;}
.css-vurnku{box-sizing:border-box;margin:0;min-width:0;}
.css-vurnku{box-sizing:border-box;margin:0;min-width:0;}
.css-v23n6v{box-sizing:border-box;margin:0;min-width:0;display:flex;width:30px;height:30px;align-items:center;justify-content:space-between;text-align:center;font-size:10px;position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);}
.css-2bc2yz{box-sizing:border-box;margin:0;min-width:0;background-color:#F0B90B;height:100%;width:3px;-webkit-animation:animation-hqgv56 1.2s infinite ease-in-out;animation:animation-hqgv56 1.2s infinite ease-in-out;-webkit-animation-delay:-0.3s;animation-delay:-0.3s;}
.css-i6pav4{box-sizing:border-box;margin:0;min-width:0;background-color:#F0B90B;height:100%;width:3px;-webkit-animation:animation-hqgv56 1.2s infinite ease-in-out;animation:animation-hqgv56 1.2s infinite ease-in-out;-webkit-animation-delay:-0.2s;animation-delay:-0.2s;}
.css-o1uf9l{box-sizing:border-box;margin:0;min-width:0;background-color:#F0B90B;height:100%;width:3px;-webkit-animation:animation-hqgv56 1.2s infinite ease-in-out;animation:animation-hqgv56 1.2s infinite ease-in-out;-webkit-animation-delay:-0.1s;animation-delay:-0.1s;}
.css-14jhrrk{box-sizing:border-box;margin:0;min-width:0;background-color:#F0B90B;height:100%;width:3px;-webkit-animation:animation-hqgv56 1.2s infinite ease-in-out;animation:animation-hqgv56 1.2s infinite ease-in-out;-webkit-animation-delay:-0s;animation-delay:-0s;}
.css-vurnku{box-sizing:border-box;margin:0;min-width:0;}
.css-kvf8xa{box-sizing:border-box;margin:0px;min-width:0px;fill:currentcolor;font-size:17px;color:rgb(240, 185, 11);width:1em;height:1em;}
.css-mpy249{box-sizing:border-box;margin:0px;min-width:0px;inset:0px;width:100%;background-color:rgba(255, 255, 255, 0.3);opacity:0;z-index:900;pointer-events:none;display:none;position:absolute;height:unset;}
.css-vmgxoo{box-sizing:border-box;margin:28px 0px 0px;min-width:0px;display:flex;}
@media screen and (min-width: 767px){
.css-vmgxoo{margin-top:8px;}
}
.css-1iq4b9c{box-sizing:border-box;margin:0px;min-width:0px;position:fixed;inset:0px;width:100%;height:100%;background-color:rgba(255, 255, 255, 0.3);opacity:0;z-index:900;pointer-events:none;display:none;}
/*! CSS Used from: Embedded */
.rc-table{font-size:12px;color:rgb(102, 102, 102);transition:opacity 0.3s ease 0s;position:relative;line-height:1.5;overflow:hidden;}
.rc-table .rc-table-content{position:relative;}
.css-vurnku{box-sizing:border-box;margin:0;min-width:0;}
.css-vurnku{box-sizing:border-box;margin:0;min-width:0;}
.css-v23n6v{box-sizing:border-box;margin:0;min-width:0;display:flex;width:30px;height:30px;align-items:center;justify-content:space-between;text-align:center;font-size:10px;position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);}
.css-2bc2yz{box-sizing:border-box;margin:0;min-width:0;background-color:#F0B90B;height:100%;width:3px;-webkit-animation:animation-hqgv56 1.2s infinite ease-in-out;animation:animation-hqgv56 1.2s infinite ease-in-out;-webkit-animation-delay:-0.3s;animation-delay:-0.3s;}
.css-i6pav4{box-sizing:border-box;margin:0;min-width:0;background-color:#F0B90B;height:100%;width:3px;-webkit-animation:animation-hqgv56 1.2s infinite ease-in-out;animation:animation-hqgv56 1.2s infinite ease-in-out;-webkit-animation-delay:-0.2s;animation-delay:-0.2s;}
.css-o1uf9l{box-sizing:border-box;margin:0;min-width:0;background-color:#F0B90B;height:100%;width:3px;-webkit-animation:animation-hqgv56 1.2s infinite ease-in-out;animation:animation-hqgv56 1.2s infinite ease-in-out;-webkit-animation-delay:-0.1s;animation-delay:-0.1s;}
.css-14jhrrk{box-sizing:border-box;margin:0;min-width:0;background-color:#F0B90B;height:100%;width:3px;-webkit-animation:animation-hqgv56 1.2s infinite ease-in-out;animation:animation-hqgv56 1.2s infinite ease-in-out;-webkit-animation-delay:-0s;animation-delay:-0s;}
.css-vurnku{box-sizing:border-box;margin:0;min-width:0;}
.css-kvf8xa{box-sizing:border-box;margin:0px;min-width:0px;fill:currentcolor;font-size:17px;color:rgb(240, 185, 11);width:1em;height:1em;}
.css-mpy249{box-sizing:border-box;margin:0px;min-width:0px;inset:0px;width:100%;background-color:rgba(255, 255, 255, 0.3);opacity:0;z-index:900;pointer-events:none;display:none;position:absolute;height:unset;}
.css-vmgxoo{box-sizing:border-box;margin:28px 0px 0px;min-width:0px;display:flex;}
@media screen and (min-width: 767px){
.css-vmgxoo{margin-top:8px;}
}
.css-1iq4b9c{box-sizing:border-box;margin:0px;min-width:0px;position:fixed;inset:0px;width:100%;height:100%;background-color:rgba(255, 255, 255, 0.3);opacity:0;z-index:900;pointer-events:none;display:none;}
.css-vp41bv{box-sizing:border-box;margin:0px;min-width:0px;display:flex;position:fixed;align-items:center;justify-content:center;z-index:1200;inset:0px;background-color:rgba(0, 0, 0, 0.5);}
.css-10frl62{box-sizing:border-box;margin:0px;min-width:0px;box-shadow:rgba(20, 21, 26, 0.16) 0px 8px 16px, rgba(71, 77, 87, 0.16) 0px 16px 32px, rgba(20, 21, 26, 0.1) 0px 0px 1px;border-radius:6px;background-color:rgb(255, 255, 255);-webkit-animation:0.3s ease-in-out 0s 1 normal none running animation-1wqz9z0;animation:0.3s ease-in-out 0s 1 normal none running animation-1wqz9z0;position:relative;display:flex;width:100%;height:100%;flex-direction:column;}
.css-i6akr8{box-sizing:border-box;margin:0px;min-width:0px;display:flex;box-shadow:rgba(0, 0, 0, 0.08) 0px 2px 16px, rgba(0, 0, 0, 0.1) 0px -1px 0px inset;height:64px;align-items:center;justify-content:center;padding-left:16px;padding-right:16px;}
@media screen and (min-width: 767px){
.css-i6akr8{height:100px;padding-left:24px;padding-right:24px;}
}
@media screen and (min-width: 1279px){
.css-i6akr8{height:80px;padding-left:0px;padding-right:0px;}
}
.css-19dty4x{box-sizing:border-box;margin:0px;min-width:0px;display:flex;width:100%;justify-content:space-between;align-items:center;}
@media screen and (min-width: 767px){
.css-19dty4x{width:100%;}
}
@media screen and (min-width: 1279px){
.css-19dty4x{width:1136px;}
}
.css-1b5iow2{box-sizing:border-box;margin:0px;min-width:0px;display:flex;align-items:initial;flex-direction:initial;}
@media screen and (min-width: 767px){
.css-1b5iow2{align-items:flex-start;flex-direction:column;}
}
@media screen and (min-width: 1279px){
.css-1b5iow2{align-items:flex-end;flex-direction:row;}
}
.css-9z5d2t{box-sizing:border-box;margin:0px;min-width:0px;display:flex;font-size:24px;font-weight:500;}
.css-9nzcre{box-sizing:border-box;margin-right:0px;margin-bottom:0px;min-width:0px;display:flex;margin-left:initial;margin-top:initial;font-size:14px;}
@media screen and (min-width: 767px){
.css-9nzcre{margin-left:0px;margin-top:10px;}
}
@media screen and (min-width: 1279px){
.css-9nzcre{margin-left:28px;margin-top:0px;}
}
.css-5iwzep{box-sizing:border-box;min-width:0px;margin:0px auto;max-width:1200px;overflow-y:auto;width:100%;padding:16px;height:calc(100vh - 120px);}
@media screen and (min-width: 767px){
.css-5iwzep{padding-left:24px;padding-right:24px;}
}
@media screen and (min-width: 1279px){
.css-5iwzep{padding-left:0px;padding-right:0px;}
}
@media screen and (min-width: 767px){
.css-5iwzep{width:100%;padding-left:24px;padding-right:24px;}
}
@media screen and (min-width: 1279px){
.css-5iwzep{width:1136px;padding-left:0px;padding-right:0px;}
}
@media screen and (min-width: 767px){
.css-5iwzep{padding-top:24px;padding-bottom:24px;height:calc(100vh - 156px);}
}
@media screen and (min-width: 1279px){
.css-5iwzep{height:calc(100vh - 136px);}
}
.css-39uz87{box-sizing:border-box;margin:0px;min-width:0px;display:flex;box-shadow:rgba(0, 0, 0, 0.08) 0px -2px 16px, rgba(0, 0, 0, 0.1) 0px 1px 0px inset;height:56px;align-items:center;justify-content:center;padding-left:16px;padding-right:16px;color:rgb(201, 148, 0);text-align:center;}
@media screen and (min-width: 767px){
.css-39uz87{padding-left:24px;padding-right:24px;}
}
@media screen and (min-width: 1279px){
.css-39uz87{padding-left:0px;padding-right:0px;}
}
.css-1qiij4{box-sizing:border-box;margin:0px;min-width:0px;display:flex;width:100%;justify-content:center;align-items:center;}
@media screen and (min-width: 767px){
.css-1qiij4{width:100%;}
}
@media screen and (min-width: 1279px){
.css-1qiij4{width:1136px;}
}
.css-hi5f8t{box-sizing:border-box;margin:0px;min-width:0px;cursor:pointer;justify-content:center;font-size:16px;}
@media screen and (min-width: 767px){
.css-hi5f8t{font-size:20px;}
}
.css-tfxrtl{box-sizing:border-box;margin:0px 0px 0px 4px;min-width:0px;color:rgb(201, 148, 0);font-size:16px;fill:rgb(201, 148, 0);transform:rotate(-90deg);width:1em;height:1em;vertical-align:middle;}
/*! CSS Used keyframes */
@-webkit-keyframes animation-hqgv56{0%,40%,100%{transform:scaleY(0.4);}20%{transform:scaleY(1.0);}}
@keyframes animation-hqgv56{0%,40%,100%{transform:scaleY(0.4);}20%{transform:scaleY(1.0);}}
@-webkit-keyframes animation-hqgv56{0%,40%,100%{transform:scaleY(0.4);}20%{transform:scaleY(1.0);}}
@keyframes animation-hqgv56{0%,40%,100%{transform:scaleY(0.4);}20%{transform:scaleY(1.0);}}
@-webkit-keyframes animation-hqgv56{0%,40%,100%{transform:scaleY(0.4);}20%{transform:scaleY(1.0);}}
@keyframes animation-hqgv56{0%,40%,100%{transform:scaleY(0.4);}20%{transform:scaleY(1.0);}}
@-webkit-keyframes animation-hqgv56{0%,40%,100%{transform:scaleY(0.4);}20%{transform:scaleY(1.0);}}
@keyframes animation-hqgv56{0%,40%,100%{transform:scaleY(0.4);}20%{transform:scaleY(1.0);}}
@-webkit-keyframes animation-hqgv56{0%,40%,100%{transform:scaleY(0.4);}20%{transform:scaleY(1.0);}}
@keyframes animation-hqgv56{0%,40%,100%{transform:scaleY(0.4);}20%{transform:scaleY(1.0);}}
@-webkit-keyframes animation-hqgv56{0%,40%,100%{transform:scaleY(0.4);}20%{transform:scaleY(1.0);}}
@keyframes animation-hqgv56{0%,40%,100%{transform:scaleY(0.4);}20%{transform:scaleY(1.0);}}
@-webkit-keyframes animation-hqgv56{0%,40%,100%{transform:scaleY(0.4);}20%{transform:scaleY(1.0);}}
@keyframes animation-hqgv56{0%,40%,100%{transform:scaleY(0.4);}20%{transform:scaleY(1.0);}}
@-webkit-keyframes animation-hqgv56{0%,40%,100%{transform:scaleY(0.4);}20%{transform:scaleY(1.0);}}
@keyframes animation-hqgv56{0%,40%,100%{transform:scaleY(0.4);}20%{transform:scaleY(1.0);}}