/*! CSS Used from: Embedded */
.css-4cffwv{box-sizing:border-box;margin:0px;min-width:0px;display:flex;}
/*! CSS Used from: Embedded */
*{box-sizing:border-box;margin:0px;padding:0px;-webkit-tap-highlight-color:transparent;}
.css-4cffwv{box-sizing:border-box;margin:0px;min-width:0px;display:flex;}
/*! CSS Used from: Embedded */
.css-4cffwv{box-sizing:border-box;margin:0px;min-width:0px;display:flex;}
*{box-sizing:border-box;margin:0px;padding:0px;-webkit-tap-highlight-color:transparent;}
.css-4cffwv{box-sizing:border-box;margin:0px;min-width:0px;display:flex;}
/*! CSS Used from: Embedded */

.css-snh7a0{box-sizing:border-box;margin:0px;min-width:0px;position:relative;box-shadow:rgba(20, 21, 26, 0.16) 0px 8px 16px,      rgba(71, 77, 87, 0.16) 0px 16px 32px, rgba(20, 21, 26, 0.1) 0px 0px 1px;border-radius:6px;background-color:rgb(255, 255, 255);-webkit-animation:0.3s ease-in-out 0s 1 normal none running animation-1wqz9z0;animation:0.3s ease-in-out 0s 1 normal none running animation-1wqz9z0;}
.css-1dcbbbv{box-sizing:border-box;margin:0px;min-width:0px;display:flex;position:relative;height:64px;align-items:center;width:100%;justify-content:space-between;}
.css-4cffwv{box-sizing:border-box;margin:0;min-width:0;display:flex;}
.css-e6jk6i{box-sizing:border-box;margin:0px;min-width:0px;font-weight:500;font-size:20px;line-height:24px;}
.css-irv4ls{box-sizing:border-box;margin:0px;min-width:0px;font-weight:500;font-size:20px;line-height:28px;color:rgb(30, 35, 41);}
/*! CSS Used from: Embedded */
.css-4cffwv{box-sizing:border-box;margin:0;min-width:0;display:flex;}
.css-4cffwv{box-sizing:border-box;margin:0;min-width:0;display:flex;}
/*! CSS Used from: Embedded */

/*! CSS Used from: Embedded */
.css-4cffwv{box-sizing:border-box;margin:0;min-width:0;display:flex;}
/*! CSS Used from: Embedded */
*{font-family:inherit;}
div{-webkit-tap-highlight-color:transparent;-webkit-appearance:none;font-size:100%;margin:0;padding:0;}
body ::-webkit-scrollbar{height:0;width:4px;}
body ::-webkit-scrollbar,body ::-webkit-scrollbar-track{background-color:transparent;}
body ::-webkit-scrollbar-thumb{background-color:#bdbdbd;}
*{font-family:inherit;}
div{-webkit-tap-highlight-color:transparent;-webkit-appearance:none;font-size:100%;margin:0;padding:0;}
body ::-webkit-scrollbar{height:0;width:4px;}
body ::-webkit-scrollbar,body ::-webkit-scrollbar-track{background-color:transparent;}
body ::-webkit-scrollbar-thumb{background-color:#bdbdbd;}
/*! CSS Used from: Embedded */
.css-4cffwv{box-sizing:border-box;margin:0px;min-width:0px;display:flex;}
.css-4cffwv[data-v-4b561b0c]{box-sizing:border-box;margin:0px;min-width:0px;display:flex;}
.css-snh7a0[data-v-4b561b0c]{box-sizing:border-box;margin:0px;min-width:0px;position:relative;box-shadow:rgba(20, 21, 26, 0.16) 0px 8px 16px,      rgba(71, 77, 87, 0.16) 0px 16px 32px, rgba(20, 21, 26, 0.1) 0px 0px 1px;border-radius:6px;background-color:rgb(255, 255, 255);-webkit-animation:0.3s ease-in-out 0s 1 normal none running animation-1wqz9z0;animation:0.3s ease-in-out 0s 1 normal none running animation-1wqz9z0;}
.css-hp9x1w[data-v-4b561b0c]{box-sizing:border-box;margin:0px;min-width:0px;display:flex;background-color:rgb(255, 255, 255);position:relative;flex-direction:column;border-radius:6px;padding-left:0px;padding-right:0px;}
.css-hp9x1w > div[data-v-4b561b0c]:first-of-type{padding-left:24px;padding-right:24px;}
.css-1dcbbbv[data-v-4b561b0c]{box-sizing:border-box;margin:0px;min-width:0px;display:flex;position:relative;height:64px;align-items:center;width:100%;justify-content:space-between;}
.css-e6jk6i[data-v-4b561b0c]{box-sizing:border-box;margin:0px;min-width:0px;font-weight:500;font-size:20px;line-height:24px;}
.css-irv4ls[data-v-4b561b0c]{box-sizing:border-box;margin:0px;min-width:0px;font-weight:500;font-size:20px;line-height:28px;color:rgb(30, 35, 41);}
.css-10uq0b5[data-v-4b561b0c]{box-sizing:border-box;margin:0px;min-width:0px;color:rgb(112, 122, 138);font-size:24px;fill:rgb(112, 122, 138);width:1em;height:1em;}
.css-10uq0b5[data-v-4b561b0c]:hover{color:rgb(240, 185, 11);cursor:pointer;}
.css-4cffwv{box-sizing:border-box;margin:0px;min-width:0px;display:flex;}
*{font-family:inherit;}
div{-webkit-tap-highlight-color:transparent;-webkit-appearance:none;font-size:100%;margin:0;padding:0;}
body ::-webkit-scrollbar{height:0;width:4px;}
body ::-webkit-scrollbar,body ::-webkit-scrollbar-track{background-color:transparent;}
body ::-webkit-scrollbar-thumb{background-color:#bdbdbd;}
*{font-family:inherit;}
div{-webkit-tap-highlight-color:transparent;-webkit-appearance:none;font-size:100%;margin:0;padding:0;}
body ::-webkit-scrollbar{height:0;width:4px;}
body ::-webkit-scrollbar,body ::-webkit-scrollbar-track{background-color:transparent;}
body ::-webkit-scrollbar-thumb{background-color:#bdbdbd;}
.css-4cffwv{box-sizing:border-box;margin:0px;min-width:0px;display:flex;}
.css-4cffwv{box-sizing:border-box;margin:0px;min-width:0px;display:flex;}
.css-4cffwv{box-sizing:border-box;margin:0px;min-width:0px;display:flex;}
.css-4cffwv{box-sizing:border-box;margin:0px;min-width:0px;display:flex;}
*{font-family:inherit;}
div{-webkit-tap-highlight-color:transparent;-webkit-appearance:none;font-size:100%;margin:0;padding:0;}
body ::-webkit-scrollbar{height:0;width:4px;}
body ::-webkit-scrollbar,body ::-webkit-scrollbar-track{background-color:transparent;}
body ::-webkit-scrollbar-thumb{background-color:#bdbdbd;}
*{font-family:inherit;}
div{-webkit-tap-highlight-color:transparent;-webkit-appearance:none;font-size:100%;margin:0;padding:0;}
body ::-webkit-scrollbar{height:0;width:4px;}
body ::-webkit-scrollbar,body ::-webkit-scrollbar-track{background-color:transparent;}
body ::-webkit-scrollbar-thumb{background-color:#bdbdbd;}
.css-4cffwv{box-sizing:border-box;margin:0px;min-width:0px;display:flex;}
.css-4cffwv{box-sizing:border-box;margin:0px;min-width:0px;display:flex;}
.css-4cffwv{box-sizing:border-box;margin:0px;min-width:0px;display:flex;}
.css-4cffwv{box-sizing:border-box;margin:0px;min-width:0px;display:flex;}
/*! CSS Used from: Embedded */
.css-4cffwv[data-v-4b561b0c]{box-sizing:border-box;margin:0px;min-width:0px;display:flex;}
.css-snh7a0[data-v-4b561b0c]{box-sizing:border-box;margin:0px;min-width:0px;position:relative;box-shadow:rgba(20, 21, 26, 0.16) 0px 8px 16px,      rgba(71, 77, 87, 0.16) 0px 16px 32px, rgba(20, 21, 26, 0.1) 0px 0px 1px;border-radius:6px;background-color:rgb(255, 255, 255);-webkit-animation:0.3s ease-in-out 0s 1 normal none running animation-1wqz9z0;animation:0.3s ease-in-out 0s 1 normal none running animation-1wqz9z0;}
.css-hp9x1w[data-v-4b561b0c]{box-sizing:border-box;margin:0px;min-width:0px;display:flex;background-color:rgb(255, 255, 255);position:relative;flex-direction:column;border-radius:6px;padding-left:0px;padding-right:0px;}
.css-hp9x1w > div[data-v-4b561b0c]:first-of-type{padding-left:24px;padding-right:24px;}
.css-1dcbbbv[data-v-4b561b0c]{box-sizing:border-box;margin:0px;min-width:0px;display:flex;position:relative;height:64px;align-items:center;width:100%;justify-content:space-between;}
.css-e6jk6i[data-v-4b561b0c]{box-sizing:border-box;margin:0px;min-width:0px;font-weight:500;font-size:20px;line-height:24px;}
.css-irv4ls[data-v-4b561b0c]{box-sizing:border-box;margin:0px;min-width:0px;font-weight:500;font-size:20px;line-height:28px;color:rgb(30, 35, 41);}
.css-10uq0b5[data-v-4b561b0c]{box-sizing:border-box;margin:0px;min-width:0px;color:rgb(112, 122, 138);font-size:24px;fill:rgb(112, 122, 138);width:1em;height:1em;}
.css-10uq0b5[data-v-4b561b0c]:hover{color:rgb(240, 185, 11);cursor:pointer;}
/*! CSS Used from: Embedded */
.css-4cffwv{box-sizing:border-box;margin:0px;min-width:0px;display:flex;}
*{font-family:inherit;}
div{-webkit-tap-highlight-color:transparent;-webkit-appearance:none;font-size:100%;margin:0;padding:0;}
body ::-webkit-scrollbar{height:0;width:4px;}
body ::-webkit-scrollbar,body ::-webkit-scrollbar-track{background-color:transparent;}
body ::-webkit-scrollbar-thumb{background-color:#bdbdbd;}
*{font-family:inherit;}
div{-webkit-tap-highlight-color:transparent;-webkit-appearance:none;font-size:100%;margin:0;padding:0;}
body ::-webkit-scrollbar{height:0;width:4px;}
body ::-webkit-scrollbar,body ::-webkit-scrollbar-track{background-color:transparent;}
body ::-webkit-scrollbar-thumb{background-color:#bdbdbd;}
.css-4cffwv{box-sizing:border-box;margin:0px;min-width:0px;display:flex;}
.css-4cffwv{box-sizing:border-box;margin:0px;min-width:0px;display:flex;}
.css-4cffwv{box-sizing:border-box;margin:0px;min-width:0px;display:flex;}
.css-4cffwv{box-sizing:border-box;margin:0px;min-width:0px;display:flex;}
*{font-family:inherit;}
div{-webkit-tap-highlight-color:transparent;-webkit-appearance:none;font-size:100%;margin:0;padding:0;}
body ::-webkit-scrollbar{height:0;width:4px;}
body ::-webkit-scrollbar,body ::-webkit-scrollbar-track{background-color:transparent;}
body ::-webkit-scrollbar-thumb{background-color:#bdbdbd;}
*{font-family:inherit;}
div{-webkit-tap-highlight-color:transparent;-webkit-appearance:none;font-size:100%;margin:0;padding:0;}
body ::-webkit-scrollbar{height:0;width:4px;}
body ::-webkit-scrollbar,body ::-webkit-scrollbar-track{background-color:transparent;}
body ::-webkit-scrollbar-thumb{background-color:#bdbdbd;}
.css-4cffwv{box-sizing:border-box;margin:0px;min-width:0px;display:flex;}
.css-4cffwv{box-sizing:border-box;margin:0px;min-width:0px;display:flex;}
.css-4cffwv{box-sizing:border-box;margin:0px;min-width:0px;display:flex;}
.css-4cffwv{box-sizing:border-box;margin:0px;min-width:0px;display:flex;}


.cbtn {
    margin: 0px;
    appearance: none;
    user-select: none;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    box-sizing: border-box;
    font-size: 14px;
    font-family: inherit;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    outline: none;
    line-height: 20px;
    word-break: keep-all;
    color: rgb(24, 26, 32);
    border-radius: 4px;
    min-height: 24px;
    border: none;
    min-width: 150px;
    padding: 8px;
    background: rgb(252, 213, 53);
}
.clrGry
{
    background-color: #99a9bf !important;
}

.el-row {
    margin-bottom: 5px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .el-col {
    border-radius: 4px;
  }
  /* .bg-purple-dark {
    background: #99a9bf;
  }
  .bg-purple {
    background: #d3dce6;
  }
  .bg-purple-light {
    background: #e5e9f2;
  } */
  .grid-content {
    border-radius: 4px;
    min-height: 20px;
  }
  .row-bg {
    padding: 10px 0;
    background-color: #f9fafc;
  }
  .itemContentCenterNoh {
    display: flex;
    align-items: center;
  }
  .itemContentCenter {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .content {
    min-width: 600px !important;
  }
  .leftright {
    margin-top: 0px;
    margin-left: 20px;
    margin-right: 20px;
  }